@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
#mainSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
}

#mainSection h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 32px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #555;
}

.input-group input[type="text"],
input[type="url"],
.input-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.input-group textarea {
  resize: vertical;
  height: 80px;
}

.input-group input[type="file"] {
  width: 100%;
  border: none;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
textarea {
  resize: none !important;
}
::placeholder {
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 14px !important;
}

::-webkit-scrollbar-track {
  background: #f0f0f0 !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: black !important;
  border-radius: 10px !important;
  border: 3px solid #f0f0f0 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3 !important;
}
